.container{
    background: url('../../images/img-home.jpg') center center/cover no-repeat;
    height: 88vh;
    width: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.container h2{
    color:blanchedalmond;
}
.container p{
    color: blanchedalmond;
}